services:
  server:
    build:
      context: ..
      dockerfile: Dockerfile
    command: sleep infinity
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=postgresql://postgres:password@db/justice
      - PASSWORD_SALT=secret
    depends_on: [db]

  db:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password